body {
    background-color: #221d23;
    color: #d8cbc7;
}

pre {
    background-color : #221d23;
    min-width: 5vh;
    min-height: 5vh;
    max-width: 50%;
    max-height: 50%;
    display: inline-block;
}

a:link {
    color: #70ae6e;
}

a:visited {
    color: #285943;
}
